/* import fonts */
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../../web/font/LibreBaskerville-Regular.ttf');
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../../web/font/LibreFranklin-Regular.ttf');
}

@font-face {
    font-family: 'Libre Franklin Bold';
    src: url('../../web/font/LibreFranklin-Bold.ttf');
}

@font-face {
    font-family: 'Libre Franklin SemiBold';
    src: url('../../web/font/LibreFranklin-SemiBold.ttf');
}

svg path {
    fill: red;
}

/* global resets */
body {
    color: #474747;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    line-height: 26.5px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: #ffffff;
    font-family: 'Libre Baskerville', serif;
    font-size: 42px;
    letter-spacing: -1.87px;
    line-height: 62px;
}

h2 {
    color: #2E2E2E;
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    letter-spacing: -1.42px;
    line-height: 47px;
}

h3 {
    color: #2E2E2E;
    font-family: 'Libre Franklin Bold', sans-serif;
    font-size: 17px;
    line-height: 26.5px;
}

h2.notes {
    color: #616161;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    line-height: 26.5px;
    letter-spacing: 0px;
}

.col-12 h2.notes  {
    margin-top: 7px;
}

.notes-section {
    color: #616161;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;
    line-height: 17.5px;
}

.narrow-div-col.notes-section {
    margin-bottom: 4px;
}

a:link {
    color: #0D5773;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: #0D5773;
    font-weight: 600;
    text-decoration: underline;
}

a:active {
    color: #2EB4E7;
    font-weight: 600;
    text-decoration: underline;
}

a:visited {
    color: #326D0F;
    font-weight: 600;
    text-decoration: none;
}

/* social row */
.social-row {
    padding: 15px;
}

.social-row a {
    font-size: 14px;
    margin-left: 15px;
    color: #2E2E2E;
}

.social-row-spacing {
    height: 56px;
}

/* hero row */
#hero-bg {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 999;
}

.hero .col-md-6:before {
    content: '';
    padding-top: 100%;
    float: left;
}

.hero-left {
    background-image: url(../img/watermark.svg);
    background-color: #17151A;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 82%;
}

.hero-right {
    background-image: url(../img/Desktop-HD-photo-cropped70px.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.hero-text {
    padding: 8vw;
}

.hero-left .hero-text h1 {
    color: #fff;
    font-size: 4.5vw;
    letter-spacing: 0;
    line-height: 1.45;
}

.hero-left .hero-text h3 {
    color: #fff;
    font-size: 1.15rem;
    letter-spacing: 0;
}

.hero-right .hero-text {
    position: absolute;
    bottom: 0;
}

.hero-right .hero-text h1 {
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 0;
    line-height: 1.45;
}

.hero-right .hero-text h3 {
    color: #fff;
    font-size: 0.9em;
    letter-spacing: 0;
}

/* story body */
.date {
    color: #616161;
}

.author-line {
    font-size: 11px;
    line-height: 14px;
    padding-top: 7px;
}

.narrow-div-col {
    margin-bottom: 17px;
}

.col-12 h2 {
    margin-top: 31px;
}

.col-12 h3 {
    margin-top: 7px;
}

.normal-div-col {
    margin-bottom: 24px;
}

.title-with-dash {
    overflow: hidden;
    text-align: center;
    font-style: italic;
    margin-top: 31px !important;
}

.title-with-dash:before {
    right: 0.5em;
    margin-left: -50%;
}

.title-with-dash:after {
    left: 0.5em;
    margin-right: -50%;
}

.title-with-dash:before,
.title-with-dash:after {
    background-color: #616161;
    ;
    opacity: 0.23;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.notes-section ol {
    margin-bottom: 0;
    padding-left: 21px;
}

.notes-section ol span {
    position: relative;
    left: 14px;
}

.notes-section li {
    margin-bottom: 1em;
}

.notes-section ul {
    list-style: none;
    padding-left: 0;
}

/* footer */
.footer {
    margin-top: 35px;
    padding: 3em 0 3em 0;
    width: 100%;
    background-color: #17151A;
}

.foot-large {
    color: #FFFFFF;
    font-family: 'Libre Franklin SemiBold', sans-serif;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.99px;
}

.foot-small {
    color: #FFFFFF;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
    line-height: 20.9px;
}

.foot-link a,
.address {
    opacity: 0.5;
    color: #FFFFFF;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    line-height: 19px;
}

a.foot-mid {
    color: #FFFFFF;
    font-family: 'Libre Franklin Bold', sans-serif;
    font-size: 15px;
    line-height: 19px;
}

a.foot-mid:hover {
    cursor: pointer;
}

.foot-icon {
    font-size: 1.3em;
    margin-left: 5px;
}

.footer hr {
    border: 1px solid #FFFFFF;
    opacity: 0.15;
}

/* chart container styling */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    background-color: white;
}

.nav-pills .nav-link {
    border-radius: .2rem;
}

.nav-pills {
    margin-top: 17px !important; 
}

.nav-link {
    display: block;
    padding: .05rem .35rem;
}

.nav-item a {
    color: #909090;
}

.data-source {
    margin-right: auto;
}

.data-source p {
    color: #616161;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;
    line-height: 14px;
    margin: 4px 0 0 0;
}

.card {
    border: none;
}

.normal-div .card {
    max-width: 620px;
    ;
    margin: auto;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(242, 242, 242, 0.45);
}

thead {
    border-bottom: 2px double black;
}

tr {
    border-top: 1px double transparent;
    text-align: right;
}

.card-body {
    padding: 0;
}

#pills-chart1-info p.notes-section {
    display: table-cell;
    /* height: 300px; */
    vertical-align: middle;
}

tbody th {
    font-weight: normal;
}

.table td,
.table tr,
.table thead th {
    vertical-align: middle;
}

thead,
.table-title {
    color: #474747;
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: right;
}

.table-title {
    text-align: left;
    border-bottom: 2px double black;
    padding-bottom: 5px;
    margin-bottom: 0;
}

tbody {
    color: #474747;
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.table-footnote {
    border-bottom: 1px solid #BFBFBF;
    margin-bottom: 3em;
}

.table-footnote.notes-section {
    color: #909090;
    line-height: 14px;
}

.table-footnote.notes-section p:last-child {
    margin-bottom: 10px;
}

a.data-links {
    font-family: "Libre Franklin";
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    margin-bottom: 20px;
}

.table th {
    text-align: left;
}

.table th+th {
    text-align: right;
}

table {
    margin-bottom: 10px !important;
}